@model List<Cars.Models.OrderDetails>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Edite Order Line";
}

<form class="needs-validation" asp-action="EditOrdersDetailsReturned" asp-controller="Labor" method="post">
    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="card shadow mb-4">
            <div class="col-12 mb-4 mt-3">
                <div class="card shadow">
                    <div class="card-header">
                        <strong class="card-title h4">@localizer["Order Header Details"]</strong>
                    </div>
                    <div class="card-body">
                        <div class="row h5">
                            <div class="col-md-4 border-right">
                                @localizer["Car"] : @Model[i].Order.Vehicle.Name
                            </div>
                            <div class="col-md-4 border-right border-left">
                                @localizer["Chassis"] : @Model[i].Order.Vehicle.Chases
                            </div>
                            <div class="col-md-4 border-left">
                                @if (Model[i].Order.Vehicle.Brand is not null)
                                {
                                    <span>@localizer["Brand"] : @Model[i].Order.Vehicle.Brand.Name</span>
                                }
                            </div>

                        </div>
                        <div class="row h5">
                            <div class="col-md-4 border-right">
                                @if (Model[i].Order.Vehicle.BrandModel is not null)
                                {
                                    <span>@localizer["Model"] : @Model[i].Order.Vehicle.BrandModel.Name</span>
                                }
                            </div>

                            <div class="col-md-4 border-left border-right">
                                @if (Model[i].Order.Vehicle.ModelYear is not null)
                                {
                                    <span>@localizer["Year"] : @Model[i].Order.Vehicle.ModelYear.Year</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-12 mb-4">
                <div class="card shadow">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10">
                                <strong class="card-title h4">Order Line</strong>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row h5">
                            <div class="col-md-3">
                                @localizer["Item"] : @Model[i].Items
                            </div>
                            <div class="col-md-3 border-left border-right">
                                @localizer["Quantity"] : @Model[i].Quantity
                            </div>
                            <div class="col-md-3 border-left border-right">
                                @localizer["Type"] : @Model[i].OrderDetailsType.NameEn
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <input asp-for="@Model[i].OrderDetailsID" style="display:none" />
                    <input asp-for="@Model[i].OrderID" style="display:none" />
                    <input asp-for="@Model[i].SystemUserCreate" style="display:none" />
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label for="simpleinput">@localizer["Hours"]</label>
                            <input type="number" step=".01" asp-for="@Model[i].Labor_Hours" class="form-control" required />
                            <span asp-validation-for="@Model[i].Labor_Hours" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label for="simpleinput">@localizer["L-price"]</label>
                            <input type="number" asp-for="@Model[i].Labor_Value" class="form-control" required />
                            <span asp-validation-for="@Model[i].Labor_Value" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <a class="btn btn-danger ml-3" style=" width: 100px;" asp-controller="Labor" asp-action="OpenOrdersDetails"
           asp-all-route-data="@Model.ToDictionary(keySelector: m => "ids[" + @Model.FindIndex(x => x.OrderDetailsID == m.OrderDetailsID) + "]", elementSelector: m => m.OrderDetailsID.ToString());">@localizer["Cancel"]</a>
        <input class="btn btn-success ml-2" style=" width: 100px;" type="submit" value="@localizer["Save"]" />
    </div>
</form>
@section Scripts {
    <script>
        ChangeColorSidebarItem("anavbarLaborOperations", "aLaborReturnedOperations");
    </script>
}

