@model IEnumerable<Cars.Models.BranchModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<h1>Branches</h1>

<p>
    <a asp-action="Create" asp-controller="Branch" class="btn btn-primary mb-3 ml-3" style="width:auto"> Add Branch</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BranchIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BranchID" class="btn btn-primary mb-3 ml-3" style="width:auto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BranchID" class="btn btn-primary mb-3 ml-3" style="width:auto">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
