@model Cars.Models.OrderDetails

@{
    ViewData["Title"] = "Display Finance Order Line";
}

<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="page-title">Display Finance Order Line</h2>
        <div class="card shadow mb-4">
            <div class="card-header">
                <strong class="card-title">Details</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <h5>ID : @Model.Prefix</h5>
                    </div>
                    <div class="col-md-3">
                        <h5>Car : @Model.Order.Vehicle.Name</h5>
                    </div>
                    <div class="col-md-3">
                        <h5>Chassis : @Model.Order.Vehicle.Chases</h5>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="row h5">
                                    <div class="col-md-3">
                                        Items  :  @Model.Items
                                    </div>
                                    <div class="col-md-3 border-left border-right">
                                        Quantity  :  @Model.Quantity
                                    </div>
                                    <div class="col-md-3">
                                        Price  :  @Model.Price
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card shadow">
                            <div class="card-body">
                                <h5 class="card-title">Documents</h5>
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>File Name</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model.Finance is not null && Model.FinanceID > 0 && Model.Finance.FinanceDocument is not null && Model.Finance.FinanceDocument.Count() > 0)
                                        {
                                            @foreach (var file in Model.Finance.FinanceDocument)
                                            {
                                                <tr>
                                                    <td>@file.Comment</td>
                                                    <td>
                                                        <a href="@file.Path" download">Download</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <a class="btn btn-primary" asp-action="Index" asp-controller="Finance">Back</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        ChangeColorSidebarItem("anavbarFinance", "aFinance");
    </script>
}