@model Cars.Models.TeamDuration
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Edit TeamDuration";

}

<div class="card shadow mb-4">
    <div class="card-header">
        <strong class="card-title">@ViewData["TeamName"]</strong>
    </div>
    <br /><br />
   
    <div class="card-body">
      
        <form class="needs-validation" asp-action="EditDuration" asp-controller="TeamDuration" method="post">
            <div class="row">
                <input asp-for="TeamDurationID" value="@Model.TeamDurationID" style="display:none" />
                <input asp-for="Roleid" value="@Model.Roleid" style="display:none" />


                <div class="col-md-12">
                    <div class="form-group mb-4">
                        <label for="simpleinput">@localizer["Duration"]</label>
                        <input type="number" name="duration" step=".01" asp-for="Duration" value="@Model.Duration" class="form-control" required />
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-4">
                        <label for="simpleinput">@localizer["UnAssigned Order Users"]</label><br />
                        @if (ViewData["TeamAllowed"] != null)
                        {
                            <select name="unasign" class="form-control" multiple="multiple">
                                @foreach (var usr in (List<ApplicationUser>)ViewData["TeamAllowed"])
                                {
                                    if (ViewData["UnAssign"] != null)
                                    {
                                        var flag = false;
                                        foreach (var Teammem in (List<TeamMemberAllowed>)ViewData["UnAssign"])
                                        {
                                            if (usr.Id == Teammem.Userid)
                                                flag = true;
                                        }
                                        if (flag == true)
                                        {
                                            <option value="@usr.Id" selected> @usr.UserName  </option>
                                            flag = false;
                                        }
                                        else
                                        {
                                            <option value="@usr.Id"> @usr.UserName  </option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="@usr.Id"> @usr.UserName  </option>
                                    }

                                }
                            </select>
                        }
                        else
                        {
                            <label for="simpleinput"> &nbsp;&nbsp;&nbsp; No Users in This Team</label>

                        }

                    </div>

                    <div class="form-group mb-3">
                        <label for="example-password">@localizer["Assigned Order Users"]</label><br />
                        @if (ViewData["TeamAllowed"] != null)
                        {
                            <select name="asign" class="form-control" multiple="multiple">
                                @foreach (var usr in (List<ApplicationUser>)ViewData["TeamAllowed"])
                                {
                                    if (ViewData["Assign"] != null)
                                    {
                                        var flag = false;
                                        foreach (var Teammem in (List<TeamMemberAllowed>)ViewData["Assign"])
                                        {
                                            if (usr.Id == Teammem.Userid)
                                                flag = true;
                                        }
                                        if (flag == true)
                                        {
                                            <option value="@usr.Id" selected> @usr.UserName  </option>
                                            flag = false;
                                        }
                                        else
                                        {
                                            <option value="@usr.Id"> @usr.UserName  </option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="@usr.Id"> @usr.UserName  </option>
                                    }

                                }
                            </select>
                        }
                        else
                        {
                            <label for="simpleinput"> &nbsp;&nbsp;&nbsp; No Users in This Team</label>
                            
                        }

                    </div>






                </div> <!-- /.col -->


                <div class="row">

                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <a class="btn btn-danger" onclick="" style=" width: 100px;" href="~/"> @localizer["Cancel"]</a>
                        <input class="btn btn-success" style=" width: 100px;" type="submit" value="@localizer["Save"]" />
                    </div>


                </div>



            </div>
        </form>
    </div>
</div>


