@model Cars.ViewModels.RoleData

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Team Duration";
    int counter = 1;
    int Count = (Int32)ViewData["Count"];
}
<h4>Team Duration</h4>
<div class="card shadow">
    <div class="card-body">

        <!-- table -->
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@localizer["TeamName"]</th>


                    <th>@localizer["Duration"]</th>

                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for(int i=0;i<Count;i++)
                {
                <tr>

                    <td>
                        @counter
                    </td>
                
                        <td>
                            @Model.Duration[i]
                        </td>
                    
                   
                        <td>
                            @Model.RoleName[i]
                        </td>
                   


                        <td>
                            <a title="@localizer["Edit TeamDuration"]" asp-action="EditTeamDuration" asp-controller="TeamDuration" asp-route-TeamDurationID="@Model.TeamDurationID[i]" asp-route-RoleID="@Model.RoleID[i]"> <span class="small text-muted"><span class="fe fe-24 fe-edit  text-success"></span></span></a>
                        </td>


                </tr>
                    counter++;
                }

            </tbody>
        </table>

    </div>
</div>
@section Scripts {
    <script>

        ChangeColorSidebarItem("", "aAllOrderLines");

    </script>

}
