@model Cars.Models.OrderDetails

@{
    ViewData["Title"] = "Display Runner Order Line";
}

<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="page-title">Display Order Line</h2>
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 h2">
                        ID : @Model.Prefix
                    </div>
                </div>
                <hr />
                <div class="card shadow">
                    <div class="card-body">
                        <div class="row h5">
                            <div class="col-md-4">
                                Car  :  @Model.Order.Vehicle.Name
                            </div>
                            <div class="col-md-4 border-left border-right">
                                Items  :  @Model.Items
                            </div>
                            <div class="col-md-4">
                                Quantity  :  @Model.Quantity
                            </div>
                        </div>
                        <hr />
                        <div class="row h5">
                            <div class="col-md-4">
                                Price  :  @Model.Price
                            </div>
                            <div class="col-md-4 border-left border-right">
                                Header Location  :  @Model.Order.UserBranch?.Branch.Name
                            </div>
                            <div class="col-md-4">
                                Location  :  @Model.VendorLocation?.Name
                            </div>
                        </div>                       
                    </div>
                </div>
                <br />
                <a class="btn btn-primary" asp-action="Index" asp-controller="RunnerOrders">Back</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        ChangeColorSidebarItem("anavbarRunner", "aRunnerOrder");
    </script>
}