
@model Cars.Models.OrderDetails
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = "Edit Order Line";

}
@if (ViewBag.ErrorMessage != null)
{
    <div class="card">
        <h3 class="text-danger">@ViewBag.ErrorMessage</h3>
    </div>
}
<div class="card shadow mb-4">
    <div class="card-header">
        <strong class="card-title">@localizer["Edit Order Line"]</strong>
    </div>
    <br /><br />
    <div class="col-12 mb-4">
        <div class="card shadow">
            <div class="card-header">
                <strong class="card-title h4">@localizer["Order Header Details"]</strong>
            </div>
            <div class="card-body">
                <div class="row h5">
                    <div class="col-md-4 border-right">
                        @localizer["Car"] : @Model.Order.Vehicle.Name
                    </div>
                    <div class="col-md-4 border-left border-right">
                        @if (Model.Order.Vehicle.Brand is not null)
                        {
                            <span>@localizer["Brand"] : @Model.Order.Vehicle.Brand.Name</span>
                        }
                    </div>
                    <div class="col-md-4 border-left">
                        @if (Model.Order.Vehicle.BrandModel is not null)
                        {
                            <span>@localizer["Model"] : @Model.Order.Vehicle.BrandModel.Name</span>
                        }
                    </div>
                </div>
                <div class="row h5">
                    <div class="col-md-4 border-right">
                        @localizer["Chassis"] : @Model.Order.Vehicle.Chases
                    </div>

                    <div class="col-md-4 border-left border-right">
                        @if (Model.Order.Vehicle.ModelYear is not null)
                        {
                            <span>@localizer["Year"] : @Model.Order.Vehicle.ModelYear.Year</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form class="needs-validation" asp-action="EditOrderDetailsReturned" asp-controller="Sales" method="post">
            <div class="row">
                <input asp-for="OrderDetailsID" type="hidden" />

                <div class="col-md-6">
                    <div class="form-group mb-4">
                        <label for="simpleinput">@localizer["Items"]</label>
                        <input asp-for="Items" class="form-control" required />
                        <span asp-validation-for="Items" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label for="example-password">@localizer["Type"]</label>
                        <select name="OrderDetailsTypeID" asp-for="OrderDetailsTypeID" asp-items="@ViewBag.types" class="form-control"></select>
                        <span asp-validation-for="OrderDetailsTypeID" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <div class="row">
                            <div class="col-md-5">

                                @*@if (Model.DraftId.HasValue && Model.DraftId.Value > 0)
                                    {
                                        <input asp-for="DraftId" style="display:none" />
                                    }
                                    else
                                    {
                                        <input class="btn btn-primary" type="button" onclick="SaveOrderAsDraft()" value="@localizer["SaveAsDraft"]" />
                                    }*@
                            </div>
                            <div class="col-md-5"></div>

                            <div class="col-md-2">


                            </div>
                        </div>


                    </div>
                </div> <!-- /.col -->
                <div class="col-md-6">

                    <div class="form-group mb-3">
                        <label for="example-email">@localizer["Quantity"]</label>
                        <input asp-for="Quantity" class="form-control" required />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label for="example-helping">
                            @localizer["Approved"]  :
                            @if (Model.IsApproved.HasValue && Model.IsApproved.Value)
                            {
                                <input id="IsApproved" type="checkbox" value="true" name="IsApproved" checked />
                                <input type="hidden" value="false" name="IsApproved" />
                            }
                            else
                            {
                                <input id="IsApproved" type="checkbox" value="true" name="IsApproved" />
                                <input type="hidden" value="false" name="IsApproved" />
                            }
                        </label>


                    </div>
                    <div class="form-group mb-3">

                    </div>


                </div>
            </div>
            <a class="btn btn-danger" onclick="OpenOrderDetails('@Model.OrderDetailsID')" style=" width: 100px;" href="~/"> @localizer["Cancel"]</a>
            <input class="btn btn-success" style=" width: 100px;" type="submit" value="@localizer["Save"]" />
        </form>
    </div>
</div>
@section Scripts {
    <script>
        ChangeColorSidebarItem("anavbarSalesOperations", "aSalesReturnedOperations");
        window.addEventListener('beforeunload', function (e) {
           OpenOrderDetails("@Model.OrderDetailsID");
        });
    </script>
}

